
/*
p -> selector
color -> property
blue -> value
*/

p {
  color: black;
}

/* id */

.orens {
  color: orange;
  font-size: 20px;
}

/* class */
.hijau {
	color: green;
	margin-top: 60px; 
}

p.hijau {
	font-size: 30px;
}

strong {
	display: block;
}

div.hitam {
	background-color: black;

}

div.hitam p {
	color: blue;
}

div.hitam > p {
	color: white;
}
